@charset "UTF-8";
/* ESTILOS RESET */
* {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  /*box-sizing: border-box;
  border: 1px red solid;*/
}

/* Estilos de lista */
ul {
  display: inline-block;
  margin: auto;
}
ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* Estilos generales */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(187, 187, 187); /* Color de fondo gris */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
/* ESTILOS HEADER */
#header {
  background-image: radial-gradient(rgba(50, 41, 131, 0.705), rgb(122, 147, 194), rgb(68, 68, 68));
  padding: 10px 0;
  /* Media Queries para dispositivos pequeños */
  /* Media Queries para dispositivos pequeños */
}
#header .headerLogo {
  width: 80px;
  height: auto;
}
@media screen and (max-width: 768px) {
  #header .headerLogo {
    width: 80px;
    height: auto;
  }
}
#header .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.4392156863); /* Color del botón del menú en móvil */
}
#header .navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0);
}
#header .navbar-nav {
  margin-right: 0;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
#header .navbar-nav .nav-item {
  margin: 0 15px;
}
#header .navbar-nav .nav-link {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
#header .navbar-nav .nav-link:hover {
  color: rgba(60, 6, 209, 0.5607843137); /* Color al pasar el cursor */
}
@media screen and (max-width: 768px) {
  #header .navbar-nav {
    text-align: center;
  }
}

/* ESTILOS FOOTER */
#footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: radial-gradient(Ellipse 100vh 200vh, rgba(50, 41, 131, 0.705), rgb(122, 147, 194), rgb(68, 68, 68));
  padding: 20px 0;
  /* Media Queries para dispositivos pequeños */
}
#footer .footerImagen {
  width: 100px;
  height: 100px;
}
#footer .footerNav-copy {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer .footerNav-copy .footerUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer .footerRedes {
  text-align: center;
  flex-wrap: wrap;
}
#footer .footerRedes a {
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}
#footer .footerRedes a .footerRedesLogo {
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 868px) {
  #footer .footerNav-copy ul {
    flex-direction: column;
  }
  #footer .footerNav-copy li {
    margin: 10px 0;
  }
  #footer .footerRedes img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  #footer .footerRedes img {
    width: 30px;
    height: 30px;
  }
}

/* ESTILOS MAIN */
#mainIndex {
  display: grid;
  grid-template-areas: "img img img" "title1 title1 title1" "title2 texto1 texto1";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  margin: 0 auto;
  /* Media Queries para dispositivos pequeños */
  /* Media Queries para dispositivos muy pequeños*/
}
#mainIndex .imagen1index {
  grid-area: img;
  margin: auto;
}
#mainIndex .titulo1index {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  grid-area: title1;
}
#mainIndex .titulo2index {
  padding: 20px;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 400;
  color: brown;
  text-align: center;
  grid-area: title2;
}
#mainIndex .texto1index {
  text-align: center;
  padding: 20px;
  margin-right: 10px;
  background-color: rgba(77, 1, 255, 0.13);
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  grid-area: texto1;
}
@media (max-width: 1080px) {
  #mainIndex #mainIndex {
    grid-template-areas: "img" "title1" "title2" "texto1";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  #mainIndex #mainIndex .titulo1index {
    margin: 10px;
    font-size: 1.5rem;
  }
  #mainIndex #mainIndex .titulo2index {
    font-size: 1.2rem;
  }
  #mainIndex #mainIndex .imagen1index img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  #mainIndex .titulo1index {
    font-size: 1.2rem;
  }
  #mainIndex .titulo2index {
    font-size: 1rem;
  }
  #mainIndex .texto1index {
    padding: 10px;
    font-size: 0.9rem;
  }
  #mainIndex .imagen1index img {
    width: 100%;
    height: auto;
  }
}

#mainServicios .tituloServis {
  text-align: center;
  padding: 20px;
}
#mainServicios .container--servicios .item {
  width: 300px;
  height: 400px;
}
#mainServicios .container--servicios img {
  width: 100%;
  height: 200px;
}

/* -- ESTILOS DE MAIN -- */
#mainModelos {
  width: 100%;
  margin: auto 5px;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  padding: 0px 0px 20px 0px;
}
#mainModelos .tituloModelos {
  text-align: center;
  padding: 20px;
}
#mainModelos .equipo {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 10px;
  justify-items: center;
}
#mainModelos .equipo .equipo__card {
  width: 90%;
  height: 100%;
  /*border: 1px solid red*/
  /* -- ESTILOS DE LAS IMAGENES  -- */
}
#mainModelos .equipo .equipo__card .modelo--perfil {
  width: 100vh;
  height: 12em;
  border-radius: 38px;
  box-shadow: 0px 0px 30px rgba(34, 34, 34, 0.5764705882);
}
#mainModelos .equipo .equipo__card img {
  width: 100%;
}
#mainModelos .equipo .equipo__card:hover {
  padding-bottom: 10px;
  margin-right: 5px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.521);
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}
@media screen and (max-width: 768px) {
  #mainModelos .equipo {
    grid-template-columns: 1fr;
  }
  #mainModelos .equipo__card {
    width: 90%;
    margin-bottom: 20px;
  }
  #mainModelos .modelo--perfil {
    width: 90%;
    height: 90%;
  }
}

.tituloContacto {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos del main */
.containerOficina {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.containerOficina .tituloOficina {
  text-align: center;
  margin-bottom: 20px;
}
.containerOficina .intro-text {
  font-size: 1.2rem;
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}
.containerOficina .image-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
.containerOficina .image-gallery img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.containerOficina .image-gallery img:hover {
  transform: scale(1.05);
}
.containerOficina .iframe--oficina {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.containerOficina .iframe--oficina iframe {
  width: 50%;
  height: 300px;
}
@media (max-width: 768px) {
  .containerOficina .image-gallery {
    justify-content: center;
  }
  .containerOficina .image-gallery img {
    max-width: 100%;
  }
  .containerOficina .intro-text {
    font-size: 1rem;
  }
  .containerOficina .iframe--oficina {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .containerOficina .iframe--oficina iframe {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .containerOficina h1 {
    font-size: 1.5rem;
  }
  .containerOficina .intro-text {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
