/* =======================================
   Estilos del Footer
   ======================================= */

/* ESTILOS FOOTER */
#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(53, 63, 80, 0.671); /* Fondo oscuro translúcido */
    padding: 20px 0;
    bottom: 0;
}

.footerNav-copy {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerUl {
    display: flex;
    flex-direction: column;
}

.footerRedesLogo {
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

.footerRedes {
    text-align: center;
}

.footerRedes a {
    margin: 0 10px;
    display: inline-block;
}

footer .footerRedes img {
    width: 50px;
    height: 50px;
}

/* =======================================
   Estilos Responsivos
   ======================================= */
/* Media Queries para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .footerNav-copy ul {
        flex-direction: column;
    }

    .footerNav-copy li {
        margin: 10px 0;
    }

    .footerRedes img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 480px) {

    .footerRedes img {
        width: 35px;
        height: 35px;
    }
}