/* ESTILOS MAIN */
#mainIndex {
    display: grid;
    grid-template-areas:
        "img img img"
        "title1 title1 title1"
        "title2 texto1 texto1";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
    margin: 0 auto;
}

.imagen1index {
    grid-area: img;
    margin: auto;
}

.titulo1index {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    grid-area: title1;
}

.titulo2index{
    padding: 20px;
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: brown;
    text-align: center;
    grid-area: title2;
}

.texto1index {
    text-align: center;
    padding: 20px;
    background-color: rgba(77, 1, 255, 0.13);
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    grid-area: texto1;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    #mainIndex {
        grid-template-areas:
            "img"
            "title1"
            "title2"
            "texto1";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .titulo1index {
        font-size: 1.5rem;
    }

    .titulo2index {
        font-size: 1.2rem;
    }

    .texto1index {
        padding: 15px;
        font-size: 1rem;
    }

    .imagen1index img {
        width: 100%;
        height: auto;
    }
}

/* Media Queries para dispositivos muy pequeños (por ejemplo, teléfonos) */
@media (max-width: 480px) {
    .titulo1index {
        font-size: 1.2rem;
    }

    .titulo2index {
        font-size: 1rem;
    }

    .texto1index {
        padding: 10px;
        font-size: 0.9rem;
    }

    .imagen1index img {
        width: 100%;
        height: auto;
    }
}