/* -- ESTILOS DE MAIN -- */
#mainModelos{
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) ;
    padding: 0px 0px 20px 0px;
    .tituloModelos{
        text-align: center;
        justify-content: center;
        padding: 20px;
        margin: 20px;
    }
    .equipo{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        // padding: 0 10px;
        .equipo__card {
            width: 90%;
            height: 100%;
            background-color: rgba(240, 248, 255, 0.507);
            text-align: left;
            border-radius: 38px;
            /*border: 1px solid red;*/
            /* -- ESTILOS DE LAS IMAGENES  -- */
            .modelo--perfil {
                width: 100vh;
                height: 12em;
                border-radius: 38px;
                box-shadow: 0px 0px 30px #22222293;
            }
            img {
                width: 100%;
            }
            &:hover {
                padding-bottom: 10px ;
                margin-right: 5px;
                box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.521);
                border-radius: 38px;
                -webkit-border-radius: 38px;
                -moz-border-radius: 38px;
                -ms-border-radius: 38px;
                -o-border-radius: 38px;
            }
            .modelo--titulo{
                justify-content: center;
            }
            p{
                margin: 5px;
            }
            a{
                display: flex;
                justify-content: center;
                margin: 15px;
                font-weight: 600;
            }
        }
    }
    @media screen and (max-width: 1100px){
        .equipo {
            grid-template-columns: 1fr;
        }
        .equipo__card {
            width: 90%;
            margin-bottom: 20px;
        }
        .modelo--perfil{
            width: 90%;
            height: 90%;
        }
    }
}