/*--ESTILOS DE MODELOS--*/


/* -- ESTILOS DE MAIN -- */
#mainModelos{
    width: 100%;
    margin: auto 5px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) ;
    padding: 0px 0px 20px 0px;
}



/* -- ESTILOS DE LAS IMAGENES EN CASILLEROS -- */
/* -- Metodologia BEM : bloque-elemento-modificacion -- */
.equipo{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-self: center;
}

.equipo__card {
    width: 90%;
    height: 100%;
    /*border: 1px solid red*/;
    img {
        width: 100%;
    }
}

.equipo__card:hover {
    padding-bottom: 10px ;
    padding-right: 5px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.521);
    border-radius: 18px;
}

/* -- ESTILOS DE LAS IMAGENES  -- */

.modelo--perfil {
    width: 100vh;
    height: 12em;
    border-radius: 38px;
    box-shadow: 0px 0px 30px #22222293;
}


.tituloModelos{
    text-align: center;
    padding: 20px;
}


@media screen and (max-width: 768px){
    .equipo {
        grid-template-columns: 1fr;
    }
    .equipo__card {
        width: 90%;
        margin-bottom: 20px;
    }
    .modelo--perfil{
        width: 90%;
        height: 90%;
    }
}