/* ESTILOS FOOTER */
#footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: radial-gradient(Ellipse 100vh 200vh  , rgba(50, 41, 131, 0.705) ,rgb(122, 147, 194) , rgb(68, 68, 68));
    // background-color: rgba(53, 63, 80, 0.671); /* Fondo oscuro translúcido */
    padding: 20px 0;
        .footerImagen {
        width: 100px;
        height: 100px;
    }
    .footerNav-copy {
        font-size: 15px;
        font-weight: 600;
        // display: flex;
        // flex-direction: column;
        text-align: center;
            .footerUl {
        // display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        }
    }
    .footerRedes {
        text-align: center;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            margin: 0 10px;
            display: inline-block;
            .footerRedesLogo {
                text-decoration: none;
                padding: 20px;
                text-align: center;
            }
        }
    }
    /* Media Queries para dispositivos pequeños */
    @media screen and (max-width: 868px) {
        .footerNav-copy ul {
            flex-direction: column;
        }
        .footerNav-copy li {
            margin: 10px 0;
        }
        .footerRedes img {
            width: 30px;
            height: 30px;
        }
    }
    @media screen and (max-width: 480px) {
        .footerRedes img {
            width: 30px;
            height: 30px;
        }
    }
}